
.emu-splide-wrapper{
    display: flex;
    flex-direction: column;
    --content-height: 400px;
    --content-width: 1200px;
    --slide-padding: 40px;
    --content-bg-color:rgba(0, 0, 0, 0.5);
    user-select: none;
    font-size:20px
}

.emu-splide-wrapper .splide__arrows{
    width: calc(var(--content-width) + 80px);
    max-width: 98%;
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
}
/* Estilos para as duas arrows */
.emu-splide-wrapper .splide__arrow {
    top: calc(var(--content-height) / 2 + var(--slide-padding));
    bottom: auto;
    background-color: white;
    opacity: 1;
    font-size: 1em;
    padding: 0 !important;
    transform: none!important;
}

.emu-splide-content-session{
    display: flex;
    gap:0;
    border:dashed 2px rgba(0, 0, 0, 0);
    transition:border 0.2s;
    z-index: 1;
    padding:7px
}

/* Cada arrow */
.emu-splide-wrapper .splide__arrow--next{
    right:0;
}
.emu-splide-wrapper .splide__arrow--prev{
    left:0;
}

.splide__pagination{
    gap:10px
}
.splide__pagination__page{
    width:20px;
    height: auto!important;
    aspect-ratio: 1!important;
    opacity: 1!important;
    padding: 0 !important;;
}
.splide__slide{
    width: calc(100%);
}

/* define apenas o fundo do slide */
.emu-slide-content-wrapper{
    background-color:var(--bg-color,  #daebf0);
    width:100%;
    padding-top: var(--slide-padding);
    padding-bottom: var(--slide-padding);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
/* caso tenha imagem, estiliza */
.emu-splide-wrapper .emu-slide-background-img-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}
/* caso tenha imagem, estiliza */
.emu-splide-wrapper .emu-slide-background-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
/* caso tenha imagem, estiliza */
.emu-splide-wrapper .emu-slide-logo{
    position: relative;
    width:100px;
    max-width: 400px;
}

/* caso tenha imagem, estiliza */
.emu-splide-wrapper .slide-link{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* espaço onde o conteúdo vai ficar */
.emu-splide-content{
    width: var(--content-width);
    max-width: 90%;
    border:dashed 2px rgba(99, 163, 179, 0);
    padding:10px;
    height: var(--content-height);
    max-height: 100%;
    z-index: 1;
    /* pointer-events: none; */
    font-size:1em;
    text-align: left;
    color:white;
    justify-content: center;
    align-items: normal;
    display: flex;
    flex-direction: column;
    gap:10px;
    transition:border 0.2s;
    
}

.elementor-element-editable .emu-splide-content, .elementor-element-editable .emu-splide-content-session{
    border:dashed 2px rgba(99, 163, 179, 0.356);
}

.emu-splide-html-wrapper{
    display: flex;
    flex-direction: column;
}

.emu-splide-button{
    padding: 0.4em 1.4em;
    background-color: white;
    border-radius: 7px;
    text-decoration: none;
    width:fit-content;
}

.splide__list{backface-visibility: visible;visibility: visible!important;}

.splide{backface-visibility: visible;visibility: visible!important;}

.splide__slide{backface-visibility: visible;visibility: visible!important; max-width:100%;}